* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.page {
  padding-top: 68px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}